@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.app {
  display: grid;
  grid-template-columns: 260px minmax(0, 1fr);
  height: 100vh;
  background: #0b0f14;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 24px;
  margin: 12px;

  background: #0f141b;
  border-radius: 16px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.sidebar-divider {
  height: 1px;
  background: #1f2933;
  margin: 8px 0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 6px;

  /* центрируем по вертикали */
  flex: 1;
  justify-content: center;
}

/* NavLink */
.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 12px;
  border-radius: 10px;

  font-weight: 500;
  color: #9ca3af;
  transition: background 0.2s, color 0.2s;
}

.sidebar a:hover {
  background: #1f2933;
  color: white;
}

.sidebar a.active {
  background: #111827;
  color: white;
}



.main {
  display: grid;
  grid-template-rows: 80px 1fr;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.upBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  margin: 12px;

  background: #0f141b;
  border-radius: 16px;
}

.content {
  margin: 12px;
  padding: 24px;

  background: #0f141b;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  
  overflow-y: hidden;
}